@if (Session["alertAddNew"] != null && Session["alertAddNew"] == "True")
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        Ju sapo keni shtuar nje shenim te ri.
    </div>
    @(Session["alertAddNew"] = null)
}
