@{
    ViewBag.Title = "About";
}


<h1>Sistemi për menaxhimin e qendrës së transfuzionit të gjakut</h1>
<p class="lead">Sistemi mundëson nxjerrjen e të dhënave në lidhje me dhuruesit e gjakut, sasinë e gjakut të dhuruar dhe menaxhimin e informatave në lidhje me dhuruesit</p>
