@{
    ViewBag.Title = "Kontakti";
}
<h2>@ViewBag.Title.</h2>


<address>
    Rr.Andrea Gropa<br />
    Prishtinë, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    +37744123456
</address>

<address>
    <strong>Suporti:</strong>   <a href="mailto:Support@smqtgj.com">Support@smqtgj.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@smqtgj.com">Marketing@smqtgj.com</a>
</address>