@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Blood Donor Management</h1>
    <p class="lead">Blood Donor Management is system to create an e-Information about the donor and organization that are related to donating the blood.</p>
 @if (User.Identity.IsAuthenticated)
 {
       <p><a href='@Url.Action("Index", "BloodStocks")' class="btn btn-primary btn-lg">Donate Blood
       </a></p>
 }
</div>
@*@model DotNet.Highcharts.Highcharts

@(Model)*@

 <div id="container" style="min-width: 350px; height: 350px; max-width: 600px; margin: 0 auto"></div>
<script type="text/javascript">

        $(function () {
            $.ajax({
                url: '/Home/StockReports',
                dataType: "json",
                type: "GET",
                contentType: 'application/json; charset=utf-8',
                async: false,
                processData: false,
                cache: false,
                delay: 15,
                success: function (data) {
                    var series = new Array();
                    for (var i in data) {
                        var serie = new Array(data[i].BloodType, data[i].BloodQuantity);
                        series.push(serie);
                    }
                    //alert(series);
                    DrawPieChart(series);
                },
                error: function (xhr) {
                    alert('error');
                }
            });
        });
        function DrawPieChart(series) {
            chart = new Highcharts.Chart({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    renderTo: 'container'
                },
                title: {
                    text: 'Raporti i stokut te gjakut'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.y} ml</b>'
                },
                series: [{
                    type: 'pie',
                    name: 'Sasia e gjakut',
                    data: series
                }]
            });
        }
</script> 

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

